@charset 'utf-8';
.iqiyi-tail-cont{
    width:1260px;
    height:260px;
    padding-left:30px;
    background-color: #f8f8f8;
    border-bottom:1px solid #ccc;
}
.iqiyi-content-area{
    float:left;
    width:210px;
}
.iqiyi-content-area h2{
    font-weight:normal;
    line-height:70px;
}
.iqiyi-content-area p{
    margin-bottom:15px;
    font-size:15px;
}
.iqiyi-content-area a:hover{
    color:#00be06;
}
.iqiyi-partners{
    width:1290px;
    height:200px;
    padding-top:30px;
    background-color: #f8f8f8;
}
.iqiyi-partners1{
    width:1185px;
    height:160px;
    margin:0 auto;
    color:#666;
    font-size:14px;
    text-align:center;
}
.iqiyi-partners1 span{
    margin-right:30px;
}
.iqiyi-partners1 a{
    color:#666;
    font-size:13px;
}
.user-reminder{
    margin-bottom:15px;
}
.user-reminder i{
    display:inline-block;
    width:18px;
    height:18px;
    background:url('../images/bodyimg/trust.png') no-repeat;
    vertical-align:-5px;
}
.user-reminder-two i{
    background:url('../images/bodyimg/records.png') no-repeat;
}
.user-reminder-four span{
    color:#999;
}
.user-reminder-four a{
    margin:0 5px;
    color:#999;
}
.iqiyi-partners a:hover{
    color:#00be06;
}
.user-reminder-three span{
    margin-right:0;
}